@font-face {
  font-family: 'WhiteCat';
  src: url('C:/Windows/Fonts/HoonWhitecatR.ttf');
}
@font-face {
  font-family: 'NanumSquare';
  src: url('C:/Windows/Fonts/NanumSquare.ttf');
}
#grid {
  display:grid;
  grid-template-columns: 150px 1fr;
}
#grid ol {
  border-right  : 1px solid black;
  width         : 150px;
  margin        : 0;
  padding-top   : 50px;
  padding-left  : 45px;
}
#article {
  font-family: NanumSquare;
  padding-left: 90px;
  padding-top: 22px;
}
#contents {
  font-size : 18px;
}
h1 {
  padding-top:20px;
  font-family: WhiteCat;
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid black;
  margin:0;
  padding-bottom:20px;
}
a {
  text-decoration: none;
}
body {
  margin:0;
}
@media(max-width:700px) {
  #grid {
    display:block;
  }
  #article {
    padding-left: 10px;
    padding-top: 0;
  }
  #grid ol {
    border-right: none;
    padding-top : 0;
    padding-left: 30px;
  }
  h1 {
    border-bottom:none;
  }
  body {
    margin:20px;
  }
}
